@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.dropdown {
  position: relative;
  top: 1px;
  z-index: 100;
  display: inline-block;
  width: 130px;
  margin-bottom: 15px;

  .display {
    @include flexbox.flexbox($jc: between);
    width: 100%;
    padding: 0 13px;
    font-size: 14px;
    line-height: 32px;
    color: colors.$BG;
    background: colors.$PRIMARY;
    border-radius: 5px;

    svg {
      height: 13px;
      fill: colors.$BG;
    }
  }

  .list {
    position: absolute;
    width: 100%;
    overflow: hidden;
    background-color: colors.$PRIMARY_GRAY;
    border-radius: 5px;
    opacity: 0;
    transition: 150ms;
    transform: scaleY(0);
    transform-origin: top;

    .listItem {
      width: 100%;
      padding: 12px 20px;
      color: colors.$GRAYE;
      text-align: left;

      &:hover {
        color: colors.$PRIMARY;
      }
    }
  }

  .isActive {
    opacity: 1;
    transform: scaleY(1);
  }
}
