@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';
@use '/src/styles/mixins/position';

.pageWrapper {
  .title {
    position: relative;
    width: 300px;
    margin: 0 auto;

    h1 {
      margin: 10px 0 12px;
      font-size: 24px;
      font-weight: 500;
      color: colors.$GRAYE;
      text-align: center;
    }

    .innerWrapper {
      @include flexbox.flexbox($jc: center, $ai: center, $gap: 8px);
      margin-bottom: 30px;

      h2 {
        font-size: 15px;
        line-height: 20px;
        color: colors.$PRIMARY;
        text-align: center;
        letter-spacing: 0.1em;
      }

      button {
        position: relative;

        svg {
          position: relative;
          top: 1px;
          height: 17px;
          padding: 0 12px;
          fill: colors.$PRIMARY;
        }
      }

      button:first-of-type:hover {
        left: -2px;
      }

      button:last-of-type:hover {
        right: -2px;
      }
    }
  }

  .movieWrapper {
    max-width: 450px;
    margin: 0 auto;

    .innerWrapper {
      display: flex;
      width: 100%;
      padding: 20px 15px;
      line-height: 30px;
      background-color: rgba($color: #aaaaaa, $alpha: 20%);
      border-radius: 10px;

      .rank,
      .info {
        @include flexbox.flexbox($jc: between, $ai: stretch, $fd: col);
      }

      .rank {
        width: 50px;
        min-width: 50px;
        margin-right: 20px;
        font-size: 16px;
        text-align: center;
        border: 1px solid colors.$PRIMARY;
        border-radius: 10px;

        dt {
          font-size: 20px;
          color: colors.$GRAYD;
        }

        dd {
          font-size: 13px;
          color: colors.$GRAYA;
        }
      }

      .info {
        max-width: 260px;
        text-align: left;

        dt {
          width: 200px;
          overflow: hidden;
          font-size: 18px;
          color: colors.$GRAYD;
          text-overflow: ellipsis;
          white-space: nowrap;

          @include responsive.after(ML) {
            width: 260px;
          }
        }

        dd {
          font-size: 13px;
          color: colors.$GRAYA;
        }
      }

      &:hover {
        background-color: rgba($color: #aaaaaa, $alpha: 40%);

        .rank {
          border-color: 1px solid red !important;

          dt {
            color: colors.$WHITE;
          }

          dd {
            font-size: 13px;
            color: colors.$GRAYA;
          }
        }

        .info {
          dt {
            color: colors.$WHITE;
          }
        }
      }
    }

    li + li {
      margin-top: 20px;
    }
  }
}
