@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.appWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: colors.$BG;

  .innerWrapper {
    position: relative;
    width: 100vw;
    min-width: 360px;
    height: 100vh;
    min-height: 720px;
    padding: 40px 30px;
    overflow-y: scroll;
    color: colors.$WHITE;
    background: colors.$BG;
  }
}
