@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.appWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: colors.$BG;

  .innerWrapper {
    position: relative;
    width: 400px;
    height: 100vh;
    padding: 60px 0;
    overflow-y: scroll;
    color: colors.$WHITE;
    background: colors.$BG;

    @include responsive.after(ML) {
      width: 100vw;
      height: 100vh;
      padding: 60px 30px;
    }
  }
}
