@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.appWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .innerWrapper {
    position: relative;
    width: 400px;
    height: 844px;
    overflow-y: scroll;
    color: colors.$WHITE;
    background: colors.$BG;
    border-radius: 20px;
  }
}
