@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.appWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  // background: colors.$BG;
  height: 100vh;

  .innerWrapper {
    position: relative;
    width: 400px;
    height: 844px;
    // padding: 60px 30px;
    overflow-y: scroll;
    color: colors.$WHITE;
    background: colors.$BG;
    border-radius: 20px;

    // @include responsive.after(ML) {
    //   width: 85vw;
    //   height: 100vh;
    //   padding: 60px 30px;
    // }
  }
}
