@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

@keyframes fadeIn {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.wrapper {
  @include flexbox.flexbox;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: colors.$BG;
  animation: linear 0.2s;

  svg {
    animation: rotate 0.5s linear infinite;
  }
}
