@use '/src/styles/mixins/flexbox';

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.wrapper {
  @include flexbox.flexbox;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  svg {
    animation: spin 1s linear infinite;
  }
}
