$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;
$GRAYF: #f5f5f5;

$PRIMARY: #ffb43a;
$PRIMARY_GRAY: #2b2c34;
$HIGHLIGHT: #ffa719;
$SECONDARY: #bdc7cf;

$BG: #20212c;
$BG_BLACK: linear-gradient(0deg, #000000 60%, #24292b 100%);
$BG_TRANSPARENT: linear-gradient(0deg, #000000 50%, transparent 100%);
$BG_TRANSPARENT_REVERSE: linear-gradient(180deg, #20212ca0 0%, transparent 100%);
