@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.titleWrapper {
  h2 {
    margin: 10px 0;
    font-size: 24px;
    font-weight: 500;
    color: #eeeeee;
    text-align: center;
    z-index: 10;

    span {
      margin: 10px 0 30px;
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      line-height: 25px;
      color: #ffb43a;
      letter-spacing: 0.1em;
    }
  }

  .closeIcon {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    z-index: 100;
    width: 20px;
    fill: colors.$GRAYE;
    transition: fill ease 0.2s;

    &:hover {
      fill: colors.$PRIMARY;
    }
  }
}
.overflowWrapper {
  // background-color: black;
  // overflow-y: scroll;
  // height: 350px;
  height: 627px;
  overflow-y: scroll;


  .fetchContainer {
    background-color: red;
  }
}