@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.wrapper {
  padding: 40px 30px 0;

  h2 {
    margin-top: 10px;
    font-size: 24px;
    color: colors.$GRAYE;
    text-align: center;
  }

  h3 {
    margin: 10px 0 30px;
    font-size: 15px;
    color: colors.$PRIMARY;
    text-align: center;
  }

  .closeIcon {
    position: absolute;
    top: 36px;
    right: 30px;
    z-index: 100;
    width: 20px;
    fill: colors.$GRAYE;
    transition: fill ease 0.2s;

    &:hover {
      fill: colors.$PRIMARY;
    }
  }

  .defaultMSG {
    font-size: 13px;
    line-height: 600px;
    color: colors.$GRAY6;
    text-align: center;
  }

  .overflowWrapper {
    height: 635px;
    overflow-y: scroll;

    ul:first-of-type {
      li:first-of-type {
        margin-top: 0;
      }
    }
  }
}
