@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.pageWrapper {
  padding: 60px 30px;

  .title {
    position: relative;
    width: 300px;
    margin: 0 auto;

    h2 {
      margin: 10px 0 30px;
      font-size: 24px;
      font-weight: 500;
      color: colors.$GRAYE;
      text-align: center;
    }
  }

  .movieWrapper {
    max-width: 450px;
    height: 660px;
    margin: 0 auto;
    overflow: hidden;

    li {
      background: no-repeat left center;
      background-size: cover;

      .bookmark {
        position: absolute;
        right: 45px;
        width: 18px;
        height: 18px;
        fill: colors.$GRAY6;
      }

      .bookmarkChecked {
        fill: colors.$PRIMARY;
      }

      .innerWrapper {
        display: flex;
        width: 100%;
        padding: 20px 15px;
        line-height: 30px;
        background-color: rgba($color: colors.$GRAYA, $alpha: 35%);
        border-radius: 10px;

        .info {
          @include flexbox.flexbox($jc: between, $ai: stretch, $fd: col);
          margin-left: 10px;
          text-align: left;

          dt {
            max-width: 215px;
            overflow: hidden;
            font-size: 18px;
            color: colors.$WHITE;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          dd {
            font-size: 13px;
            color: colors.$GRAYA;
          }
        }
      }

      .innerWrapper:hover {
        background-color: rgba($color: colors.$GRAYA, $alpha: 40%);

        .info {
          dt {
            color: colors.$WHITE;
          }
        }
      }

      li + li {
        margin-top: 20px;
      }

      .defaultMSG {
        line-height: 640px;
        text-align: center;
      }
    }
  }
}
