@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

// .searchBar {
//   position: absolute;
//   right: 60px;
// }
.wrapper {
  position: relative;
  padding: 40px 30px 0;

  .titleWrapper {
    display: flex;
    align-items: center;

    h1 {
      display: inline-block;
      font-size: 24px;
      font-weight: 500;
      color: colors.$GRAYE;
      text-align: center;
    }

    .toggleWrapper {
      display: inline-block;
    }
  }
}
