@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.sectionWrapper {
  padding: 40px 30px;

  .title {
    position: relative;
    width: 300px;
    margin: 0 auto;

    h2 {
      margin: 10px 0 12px;
      font-size: 24px;
      font-weight: 500;
      color: colors.$GRAYE;
      text-align: center;
    }
  }

  & + & {
    padding-top: 0;
  }
}
