@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.pageWrapper {
  background-color: black;
  overflow-y: scroll;
  height: 350px;


  .fetchContainer {
    background-color: red;
  }

  .closeIcon {
    fill: white;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    top: 0;

  }
}
