@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.toggleWrapper {
  position: absolute;
  right: 30px;
  width: 120px;

  input[type='checkbox'] {
    display: none;
    height: 25px;

    & ~ .toggleLabel .toggleCheck::before {
      left: 0;
      content: attr(data-unchecked);
    }

    & ~ .toggleLabel .toggleCheck::after {
      left: 60px;
      content: attr(data-checked);
    }

    &:checked ~ .toggleLabel .toggleCheck::before {
      left: 60px;
      content: attr(data-checked);
    }

    &:checked ~ .toggleLabel .toggleCheck::after {
      left: 0;
      content: attr(data-unchecked);
    }
  }

  .toggleLabel {
    font-size: 13px;
    @include flexbox.flexbox(center center);

    .toggleCheck {
      position: relative;
      box-sizing: content-box;
      flex: 0 0 120px;
      height: 25px;
      color: colors.$BG;
      text-align: center;
      cursor: pointer;
      background: colors.$GRAY6;
      border-radius: 10px;

      &::before,
      &::after {
        position: absolute;
        width: 60px;
        line-height: 25px;
      }

      &::after {
        color: colors.$GRAYA;
      }

      &::before {
        background: colors.$PRIMARY;
        border-radius: 10px;
        transition: all ease 0.2s;
      }
    }
  }
}
