@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.gnb {
  ul {
    @include flexbox.flexbox($jc: between, $ai: center);
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 80px;
    padding: 0 60px;
    background-color: colors.$BG;

    li {
      a {
        fill: colors.$GRAYA;
        transition: fill ease 0.2s;

        :hover {
          fill: colors.$GRAYF;
        }

        svg {
          height: 20px;
        }
      }
    }

    .isActive {
      fill: colors.$GRAYF;
    }
  }
}
