@use '/src/styles/constants/colors';

.backIcon,
.menuIcon {
  position: absolute;
  top: 40px;
  width: 20px;
  fill: colors.$GRAYE;
  transition: fill ease 0.2s;

  &:hover {
    fill: colors.$PRIMARY;
  }
}

.backIcon {
  left: 30px;
}

.menuIcon {
  right: 30px;
}
