@use '/src/styles/constants/colors';

.pageWrapper {
  background: no-repeat center top;
  background-size: contain;

  .bookmark {
    position: absolute;
    right: 30px;
    width: 30px;
    height: 30px;
    fill: colors.$GRAYA;
  }

  .bookmarkChecked {
    fill: colors.$PRIMARY;
  }

  .infoWrapper {
    padding-top: 340px;

    .title {
      padding: 80px 30px 20px;
      line-height: 25px;
      background: colors.$BG_TRANSPARENT;

      h2 {
        position: relative;
        top: -3px;
        width: 290px;
        margin-bottom: 12px;
        font-size: 28px;
        font-weight: 500;
        line-height: 1.3;
        color: colors.$WHITE;
        text-align: left;
      }

      h3 {
        font-size: 15px;
        line-height: 20px;
        color: colors.$PRIMARY;
        text-align: left;
        letter-spacing: 0.1em;
      }

      p {
        color: colors.$GRAYD;

        &:first-of-type {
          margin-top: 8px;
        }
      }
    }

    .contentWrapper {
      padding: 30px 0 60px;
      font-size: 14px;
      background: colors.$BG_BLACK;

      .innerWrapper {
        padding: 0 30px;

        .largeWrapper {
          margin: 0 -8px 40px;

          .tagWrapper {
            display: inline-block;
            padding: 0 13px;
            margin: 8px;
            line-height: 32px;
            color: colors.$GRAY3;
            background-color: colors.$GRAYE;
            border-radius: 5px;
          }

          .primaryTag {
            color: colors.$GRAYF;
            background-color: colors.$PRIMARY;
          }

          .primaryTag::before {
            content: '#';
          }
        }

        .plot {
          margin: -20px 0 38px;
          line-height: 30px;
        }

        .companys {
          line-height: 30px;
          color: colors.$GRAYA;
        }
      }
    }
  }

  .nobgWrapper {
    padding-top: 15px;
  }
}

.pageWrapper::before {
  position: absolute;
  top: -70px;
  left: 0;
  width: 100%;
  height: 150px;
  content: '';
  background: colors.$BG_TRANSPARENT_REVERSE;
}
