@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.title {
  @include flexbox.flexbox($jc: between, $ai: center);
  max-width: 120px;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 25px;
  color: colors.$BG;
  letter-spacing: 0.1em;
  background-color: colors.$PRIMARY;
  border-radius: 10px;

  button {
    position: relative;
    width: 30px;
    line-height: 25px;

    svg {
      position: relative;
      top: 1px;
      height: 12px;
      padding: 0 5px;
      fill: colors.$BG;
    }
  }

  button:first-of-type:hover {
    left: -2px;
  }

  button:last-of-type:hover {
    right: -2px;
  }
}

.overflowWrapper {
  height: 468px;
  overflow-y: scroll;

  li:first-of-type {
    margin-top: 0;
  }
}
